

@media (max-width: 1200px) and (min-width: 992px) {

}

@media (max-width: 1199px) {
.vedio-main-right-content-inner h1 {
    font-size: 36px;
} 	
}

@media (max-width: 1199px) and (min-width:992px){
	
}

@media (min-width: 992px) {

}

@media (max-width: 991px) {
	.big-background {
    min-height: 75vh;
}
    
.our-vision-content h4 {
    font-size: 22px;
} 
    
.our-vision-content h1 {
    font-size: 3em;
} 
    
.vedio-main-right-content {
    padding: 40px;
} 
    
#inner-page-banner h1 {
    font-size: 3em;
}    
   
/*
#inner-page-banner {
    padding-left: 20px;
} 
*/
    
.team_content {
    margin-top: 25px;
}  
    
.logo img {
    max-width: 220px;
}  
    
.snip1552 {
    max-width: 50%;
}    
   
}


@media (max-width: 991px) and (min-width:421px){
	
	
}

@media (min-width: 768px) {

}
	
	
	
@media (max-width: 767px) {
   
#footer h4 {
    margin-bottom: 10px;
}
    
.customfooter_contacts {
    margin-top: 0;
    margin-bottom: 30px;
}    
    
body > section {
    padding: 30px 0;
}    
    
#inner-page-banner p {
    font-size: 14px;
    line-height: 23px;
}
    
.big-background h1 {
    font-size: 5em;
}
    
.big-background h1 span {
    font-size: 36px;
} 
    
#our-vision {
    text-align: center;
}    


    
.tab-main-inner ul {
    border: 2px solid #68d969;
    margin-bottom: 25px;
} 
    
.tab-main-inner a {
    padding: 5px 15px !important;
} 
    
.snip1552, .snip1531 {
    max-width: 100%;
} 
    
.vedio-main-right-inner {
    height: 50vh;
}    


.vedio-main-right-content {
    padding: 30px;
}  
    
.number-center {
    padding: 0 10px;
} 
    
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
} 
    
.form-sign {
    padding: 10px;
}
    
    
    
}

@media (max-width: 640px) {

}

@media (max-width: 600px) {

}

@media (max-width: 575px) {
#commitment h1 {
    font-size: 2em;
}
}

@media (max-width: 550px) {
	
}
@media (max-width: 420px) {
.form-sign .top-row > div:last-child {
    margin-bottom: 40px;
}
    
.form-sign .top-row > div {
    width: 100%;
}    
	
}


